<!-- <a href="offer.html"><img src="images/download.png" class="img-head" alt=""></a> -->
<div class="header">

		<div class="container">
			
			<div class="logo">
				<h1 ><a href="index.html"><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h1>
			</div>
			<div class="head-t">
				<ul class="card">
                        <li><a href="wishlist.html">
                            <fa-icon class="icons-header  fa fa-heart" [icon]="['fas', 'heart']"></fa-icon>
                            <span>Wishlist</span>
                          </a></li>
                        <li><a href="wishlist.html" a [routerLink]="['/login']" routerLinkActive="router-link-active">
                            <fa-icon class="icons-header  fa fa-heart" [icon]="['fas', 'user']"></fa-icon>
                            <span>Login</span>
                          </a></li>
                        <li><a [routerLink]="['/register']" routerLinkActive="router-link-active" >
                            <fa-icon class="icons-header  fa fa-heart" [icon]="['fas', 'arrow-right']"></fa-icon>
                            <span>Register</span>
                          </a></li>
				</ul>	
			</div>
			
			<div class="header-ri">
				<ul class="social-top">
					<li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
				</ul>	
			</div>
		

				<div class="nav-top">
					<nav class="navbar navbar-default">
					
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						

					</div> 
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav ">
							<li class=" active"><a href="index.html" class="hyper "><span>Home</span></a></li>	
							
							<li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
						</ul>
					</div>
					</nav>
					 <div class="cart" >
                            <!-- <fa-icon class="icons-header" [icon]="['fas', 'faCartPlus']"></fa-icon> -->
                            <!-- <fa-icon class="icons-header" [icon]="['fas', 'faShoppingCart']"></fa-icon> -->
                            <!-- <span>Login</span> -->
						<!-- <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span> -->
					</div>
					<div class="clearfix"></div>
				</div>
					
				</div>			
</div>